<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>simple</title>
                <link href="https://localvoid.github.io/uibench-base/0.1.0/styles.css" rel="stylesheet" />
        </head>
        <body>
                <main id="main"></main>
                <div id="App"></div>
                <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js" charset="utf-8"></script> -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js" charset="utf-8"></script>
                 <script src="https://localvoid.github.io/uibench-base/0.1.0/uibench.js"></script>
                <script src="/static/build/build.js" charset="utf-8"></script>
        </body>
</html>
